/* Use for the color picker at the bottom of the screen */

.colorSelector
	position: absolute
	left: 60px
	bottom: 2px
	border: solid 1px #000
	width: 560px
	height: 40px

.colorSelector ul
	display: block
	float: right
	width: 490px

.colorSelector ul li
	display: inline

.colorSelector ul li a
	display: block
	float: left
	width: 40px
	height: 19px
	border: solid 1px #000
	border-bottom: none
	text-indent: -9999px
	cursor: inherit